<p *ngIf="usernamefinal">Welcome, {{usernamefinal[0].username}}</p>
  <div class="container">
    <div  id="login-page" class="row" style="height:800px" >
      <div class="row">
        <div class="col-md-4" >
          <div class="jumbotron">
            <form class="login-form">

              <div >
                <h2 class="center login-form-text">Login</h2>
              </div>

              <div class="form-group">
                <i ></i>
                <label for="username" class>Username</label>
                <input id="username" [(ngModel)]="username" type="text" name="username">

              </div>

              <div class="form-group">
                <i ></i>
                <label for="password">Password</label>
                <input id="password" type="password" [(ngModel)]="password" name="password">

              </div>

              <div class="input-field   login-text">

                <input type="checkbox" id="remember-me" />
                <label for="remember-me">Remember me</label>
              </div>

              <button  (click)="submit()">
               LOGIN>
              </button>

  <!--            <div class="input-field ">
                <p class="btn btn-link"><a href="#" (click)="forgotpassword()">Forgot password ?</a></p>
              </div>
-->

            </form>
          </div>
        </div>




      </div>

    </div>
  </div>



